<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baizhi.dao.UserDao">

    <sql id="usersql">
        select id,
               username,
               phone,
               headimg,
               brief,
               wechat,
               createdate,
               status,
               sex
        from yx_user
    </sql>
    <!--    分页查-->
    <select id="selectRange" resultType="cn.baizhi.entity.User">
        <include refid="usersql"/>
        limit #{start},#{end}
    </select>
    <!--    用戶总数-->
    <select id="selectCount" resultType="Integer">
        select count(*)
        from yx_user
    </select>
    <!--    修改用户状态-->
    <update id="updateState">
        update yx_user
        set status=#{status}
        where id = #{id}
    </update>
    <!--删除用户-->
    <delete id="deleteById" parameterType="string">
        delete
        from yx_user
        where id = #{id};
    </delete>
    <!--添加用户-->
    <insert id="save" parameterType="cn.baizhi.entity.User">
        insert into yx_user
        values (#{id}, #{username}, #{sex}, #{phone}, #{headimg}, #{brief}, #{wechat}, #{createdate}, #{status})
    </insert>
    <!--查所有-->
    <select id="findAll" resultType="cn.baizhi.entity.User">
        <include refid="usersql"/>
    </select>
</mapper>