<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.baizhi.dao.VideoVoDao">

    <!--app查所有视频-->
    <select id="queryAllVideo" resultType="cn.baizhi.vo.VideoVo">
        select v.id,
               v.title       videoTitle,
               v.cover_path  cover,
               v.video_path  path,
               v.create_date uploadTime,
               v.brief       description,
               c.catename    cateName,
               u.headimg     userPhoto
        from yx_video v
                 left join yx_category c on v.category_id = c.id
                 left join yx_user u on v.user_id = u.id
        order by v.create_date desc
    </select>
</mapper>